SECRETKEY='secret key'
DBNAME='name of database'
DBUSER='name user of database'
DBPASSWORD='password of database'
DBHOST='host of database'
DBPORT='port of database'
ACCESS_KEY_ID='access key id of bucket aws s3'
SECRET_ACCESS_KEY='secret access key id of bucket aws s3'
STORAGE_BUCKET_NAME='storage bucket name'
S3_REGION_NAME='region name of aws s3'
USE_S3='false'
USESQLITE='true'