<!DOCTYPE html>
<html lang = "pt-br">
{% load static %}
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <meta name = "description" content = "web site for a provider servie to cleaning">
    <link rel = "stylesheet" href = "{% static 'css/style.css' %}">
    <title>Agblimp</title>
</head>
<body>
    <header>
        <div class = "container">
            <div>
                <h1>Agblimp</h1>

                {% include "web/components/menu.html" %}

                <button onclick = "expand()" class = "btn-toggle"></button>
            </div>
        </div>
    </header>
    <div id = "menu-mobile" class = "in expand">
        {% include "web/components/menu.html" %}
    </div>

    <main>
        {# section banner #}
        <section id = "home" class = "banner">
            <div class = "container">
                <form action = {% url "web:scheduling" %} method = "post">
                    {% csrf_token %}

                    <section>
                        <h2>Agendar serviço</h2>
                    </section>
    
                    <section>
                        <label for = "name">Nome</label>
                        <input class = "input" required type = "text" name = "name" id = "name">
                    </section>
    
                    <section>
                        <label for = "email">Email</label>
                        <input class = "input" required type = "email" name = "email" id = "email">
                    </section>
    
                    <section>
                        <label for = "address">Endereço</label>
                        <input class = "input" required type = "text" name = "address" id = "address">
                    </section>
    
                    <section class = "flex">
                        <section>
                            <label for = "number">Número</label>
                            <input class = "input" required type = "text" name = "number" id = "number">
                        </section>
    
                        <section>
                            <label for = "cep">Cep</label>
                            <input class = "input" required type = "text" name = "cep" id = "cep">
                        </section>
                    </section>
    
                    <section>
                        <label for = "complemento">Complemento</label>
                        <input class = "input" type = "text" name = "complemento" id = "complemento">
                    </section>
    
                    <section>
                        <label for = "way_payment">Forma de pagamento</label>
                        <select class = "input" required name = "way_payment" id = "way_payment">
                            <option></option>
                            <option value = "cartão debito">Cartão debito</option>
                            <option value = "cartão credito">Cartão credito</option>
                            <option value = "a vista">A vista</option>
                        </select>
                    </section>
    
                    <section>
                        <label for = "service">Serviço</label>
                        <select class = "input" required name = "service" id = "service">
                            <option></option>
                            {% for service in services %}
                                <option value = "{{ service.id }}"> {{ service.name }} </option>
                            {% endfor %}
                        </select>
                    </section>
    
                    <section>
                        <label for = "date">Data de agendamento</label>
                        <input class = "input" required type = "datetime-local" name = "date" id = "date">
                    </section>
    
                    <section>
                        <button class = "btn cta" type = "submit">CONFIRMAR</button>
                    </section>
                </form>
    
                <section id = "intro">
                    <p>
                        <strong>
                            Estamos aqui para tornar seu ambiente
                            mais limpo, saudável e acolhedor.
                        </strong><br>
                        Nossos serviços de limpeza são personalizados
                        para atender às suas necessidades, seja em sua casa,
                        escritório ou comércio
                    </p>
    
                    <div>
                        <button class = "btn second">ORÇAMENTO ONLINE</button>
                    </div>
                </section>
            </div>
        </section>

        {# section services #}
        <section id = "services">
            <div class = "container">
                <h2 class = "title">Nossos Serviços</h2>

                <div>
                    {% for service in services %}
                        <div
                          data-id   = '{{ service.id }}'
                          data-name = '{{ service.name }}'
                          data-description = '{{ service.description }}'
                          class = "service">
                            <h3>{{ service.name }}</h3>

                            <p></p>

                            <div>
                                <button onclick = "display_learn_more_servie('{{ service.id }}')">Saber mais</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        {# section testimony #}
        <section id = "testimonies">
            <div class = "container">
                <h2 class = "title">O que os nossos clientes dizem sobre nós</h2>

                <div>
                    <section>
                        <div id = "wrapper-testimony">
                            {% for testimony in testimonies %}
                                <div class = "testimony">
                                    <header>
                                        <h3>{{ testimony.name_client }}</h3>
                                        <small>
                                            <em>{{ testimony.date }}</em>
                                        </small>
                                    </header>
                                    <p>
                                        <span>''</span>{{ testimony.mesage }}
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                    </section>

                    <section>
                        <form action = "{% url 'web:testimony' %}" method = "post">
                            {% csrf_token %}
                            <h3>Deixe seu depoimento</h3>

                            <section>
                                <label for = "name_client">Nome</label>
                                <input class = "input" required type = "text" name = "name_client" id = "name_client">
                            </section>

                            <section>
                                <label for = "mesage">Mensagem</label>
                                <textarea class = "input" required rows = "7" name = "mesage" id = "mesage"></textarea>
                            </section>

                            <section>
                                <button class = "btn cta">enviar</button>
                            </section>
                        </form>
                    </section>
                </div>
            </div>
        </section>

        <div class = "learn-more-service">
            <div>
                <div>
                    <button onclick = "close_context('.learn-more-service')"></button>
                </div>

                <h2></h2>

                <p></p>

                <button id = "c">Agendar Serviço</button>
            </div>
        </div>

        {% if msg %}
            <div class = "msg">
                <div class = "{{ status }}">
                    <div>
                        <button onclick = "close_context('.msg')"></button>
                    </div>
                    <p>
                        {{ msg }}
                    </p>
                </div>
            </div>
        {% endif %}
    </main>
    <script src = "{% static 'js/app.js' %}"></script>
</body>
</html>