<!DOCTYPE html>
<html lang = "pt-br">
{% load static %}
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <meta name = "description" content = "web site for a provider servie to cleaning">
    <link rel = "stylesheet" href = "{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <title>Agblimp</title>
</head>
<body>
    <header>
        <div class = "container">
            <div>
                <div class = "flex">
                    <button onclick = "expand()" class = "btn-toggle">
                        <div>
                            <div></div>
    
                            <div></div>
    
                            <div></div>
                        </div>
                    </button>

                    <a href = "#home" class = "flex" id = "logo">
                        <img src = "{% static 'img/logo.webp' %}" alt = "logo">
                        <h1>Agblimp</h1>
                    </a>
                </div>

                {% include "web/components/menu.html" %}
            </div>
        </div>
    </header>
    
    <div id = "menu-mobile" class = "in expand">
        <div>
            <button onclick = "expand()">&times;</button>
        </div>
        {% include "web/components/menu.html" %}
    </div>

    <div class = "swiper-banner">
        <div class = "swiper-wrapper">
            <div class = "swiper-slide first"></div>
            <div class = "swiper-slide second"></div>
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>

    <main>
        {# section banner #}
        <section id = "home" class = "banner">
            <div class = "container">
                <form id = 'scheduling' action = {% url "web:scheduling" %} method = "post">
                    <section>
                        <p>Agendar serviço</p>
                    </section>

                    {% csrf_token %}

                    <section>
                        <label for = "cep">Cep</label>
                        <input oninput = "validatecep()" class = "input" required type = "text" name = "cep" id = "cep" value = "{{ client.cep|default:'' }}">
                        <small><em class = "err">não atuamos nesta localidade</em></small>
                    </section>

                    <section>
                        <label for = "name">Nome</label>
                        <input class = "input" required type = "text" name = "name" id = "name" value = "{{ client.name|default:'' }}">
                    </section>

                    <section class = "flex">
                        <section>
                            <label for = "email">Email</label>
                            <input class = "input" required type = "email" name = "email" id = "email" value = "{{ client.email|default:'' }}">
                        </section>

                        <section>
                            <label for = "phone">Telefone</label>
                            <input class = "input" required type = "text" name = "phone" id = "phone" value = "{{ client.phone|default:'' }}">
                        </section>
                    </section>

                    <section class = "flex">
                        <section>
                            <label for = "address">Endereço</label>
                            <input class = "input" required type = "text" name = "address" id = "address" value = "{{ client.address|default:'' }}">
                        </section>
        
                        <section>
                            <label for = "complemento">Complemento</label>
                            <input class = "input" type = "text" name = "complemento" id = "complemento" value = "{{ client.complemento|default:'' }}">
                        </section>
                    </section>

                    <section class = "flex">
                        <section>
                            <label for = "way_payment">Pagamento</label>
                            <select class = "input" required name = "way_payment" id = "way_payment">
                                <option></option>
                                <option value = "cartão debito">Cartão debito</option>
                                <option value = "cartão credito">Cartão credito</option>
                                <option value = "a vista">A vista</option>
                            </select>
                        </section>

                        <section>
                            <label for = "service">Serviço</label>
                            <select class = "input" required name = "service" id = "service">
                                <option></option>
                                {% for service in services %}
                                    <option value = "{{ service.id }}"> {{ service.name }} </option>
                                {% endfor %}
                            </select>
                        </section>
                    </section>
    
                    <section>
                        <label for = "date">Data de agendamento</label>
                        <div class = "datetime" blockeds = '{{ dateblockeds }}'>
                            <input class = "input" required type = "datetime-local" name = "date" id = "date">
                        </div>
                    </section>
    
                    <section class = "flex">
                        <button class = "btn cta" type = "submit">AGENDAR SERVIÇO</button>

                        <a href = "https://wa.me/{{ generalinformation.whatsapp}}" target = "_blank">
                            <button class = "btn second" type= "button">ORÇAMENTO ONLINE</button>
                        </a>
                    </section>
                </form>
            </div>
        </section>

        {# section services #}
        <section id = "services">
            <div class = "container">
                <h2 class = "title">Nossos Serviços</h2>

                <div>
                    {% for service in services %}
                        <div
                          data-id          = '{{ service.id }}'
                          data-name        = '{{ service.name }}'
                          data-description = '{{ service.description }}'
                          data-image       = '{{ service.image }}'
                          class = "service">
                            <img src = "{{ service.image }}" alt = "imagem capa do serviço">
                            
                            <div>
                                <strong>{{ service.name }}</strong>
                            </div>

                            <div>
                                <p></p>
                            </div>

                            <div>
                                <button onclick = "display_learn_more_servie('{{ service.id }}')">Saber mais</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        {# section testimony #}
        <section id = "testimonies">
            <div class = "container">
                <h2 class = "title">Histórias de sucesso com nossos serviços</h2>

                <div class = "swiper-container">
                    <div class = "swiper-wrapper">
                        {% for testimony in testimonies %}
                            <div class = "swiper-slide">
                                <div class = "testimony">
                                    <div>
                                        <div>
                                            <div class = 'prophile'>
                                                <img src = "{{ testimony.capa }}" alt = "imagem da testemunha">
                                            </div>

                                            <h3>{{ testimony.name_client }}</h3>

                                            <div class = 'score'>
                                                {% for i in "0 1 2 3 4"|cut:" "|make_list %}
                                                    {% if testimony.score >= forloop.counter %}
                                                        <img src = "{% static 'img/star-solid.svg' %}" alt = "star-solid">
                                                    {% elif testimony.score == forloop.counter0|floatformat:1 %}
                                                    <img src = "{% static 'img/star-half.svg' %}" alt = "star-solid">
                                                    {% else %}
                                                    <img src = "{% static 'img/star.svg' %}" alt = "star-solid">
                                                    {% endif %}
                                                {% endfor %}
                                            </div>

                                            <p>
                                                {{ testimony.mesage }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>                  
                </div>

                <section>
                    <a href = "#home">
                        <button class = "btn second">
                            solicite seu serviço agora
                            <span class="icon">➔</span>
                        </button>
                    </a>
                </section>
            </div>
        </section>

        {# section Faq #}
        <section class = "faq-section" id = "faqs">
            <div class = "container">
                <div class = "faq-header">
                    <h2 class = "title">Como podemos ajudar você?</h2>
                    <p class = "come">Encontre as respostas para as perguntas mais frequentes ou entre em contato conosco.</p>
                    
                    <!-- Barra de pesquisa -->
                    <div class = "search">
                      <input oninput = "filter(this.value, 'faq-item', 'summary')" type = "search" placeholder="Digite sua dúvida aqui..." id="faqSearchInput">
                    </div>
                </div>

                <!-- Perguntas Frequentes -->
                <div class="faq-items">
                    {% for faq in faqs %}
                        <section class = "faq faq-item">
                            <details>
                                <summary onclick = "this.classList.toggle('active')" class = "faq-question">{{ faq.question }}</summary>

                                <p class = "faq-answer">{{ faq.response }}</p>
                            </details>
                        </section>
                    {% endfor %}
                </div>

                <!-- Botão CTA -->
                <div class="faq-cta">
                    <a href = "https://wa.me/{{ generalinformation.whatsapp}}" target = "_blank">
                        <button class="cta-btn">
                            <div>
                                <img src = "{% static 'img/whatsapp.svg' %}" alt = "imagem do whatsapp">
                                <p>
                                    Fale Conosco Agora
                                </p>
                            </div>
                        </button>
                   </a>
                </div>
            </div>
        </section>

        {# section work with us #}
        <section id = "workwithus">
            <div class = "container">
                <h3 class = "title">Venha fazer parte da nossa equipe</h3>

                <p class = "come">
                    Estamos sempre em busca de pessoas apaixonadas,
                    inovadoras e comprometidas. Se você se
                    identifica com nossa missão e quer crescer
                    conosco, venha fazer parte da nossa equipe!
                </p>

                <div>
                    <section>
                        <h4>Vagas disponíveis</h4>

                        <div class = "search">
                            <input oninput = "filter(this.value, 'jobopening', 'h5')" type = "search" placeholder = "procure por vagas aqui...">
                        </div>

                        <div hidden>
                            {{ requires|json_script:"requires" }}
                        </div>

                        <div class = "jobopening-wrapper">
                            {% for jobopening in jobsopening %}
                                <a href = "#form-job" hidden id = "link-form-job"></a>
                                <div
                                  onclick = "display_learn_more_jobopening('{{ jobopening.id }}')"
                                  data-id = '{{ jobopening.id }}'
                                  data-title = '{{ jobopening.title }}'
                                  data-description = '{{ jobopening.description }}'
                                  data-salary = '{{ jobopening.salary }}'
                                  class   = "jobopening">
                                    <h5>{{ jobopening.title }}</h5>

                                    <p>{{ jobopening.short_description }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </section>

                    <section id = "form-job">
                        <h4>Candidata-se a uma vaga</h4>

                        <form action = "{% url 'web:candidate' %}" method = "post" enctype = "multipart/form-data">
                            {% csrf_token %}
                            <section>
                                <label for = "fullname">Nome completo *</label>
                                <input class = "input" type = "text" id = "fullname" required name = "name">
                            </section>

                            <section>
                                <label for = "email1">Email *</label>
                                <input class = "input" type = "email" id = "email1" required name = "email">
                            </section>

                            <section>
                                <label for = "job">Cargo de interece *</label>
                                <select class = "input" name = "job" id = "job">
                                    <option value = ""></option>
                                    {% for job in jobsopening %}
                                        <option value = "{{ job.id }}">{{ job.title }}</option>
                                    {% endfor %}
                                </select>
                            </section>

                            <section>
                                <label for = "curriculum_vitae">Curriculum vitae (opcional)</label>
                                <input class = "input" type = "file" id = "curriculum_vitae" name = "curriculum_vitae">
                            </section>

                            <section>
                                <label for = "mesage">Mensagem (opcional)</label>
                                <textarea class = "input" maxlength = "300" name = "mesage" id = "mesage" rows = "7" placeholder = "deixe-nos uma mensagem"></textarea>
                            </section>

                            <section>
                                <button class = "btn cta">enviar candidatura</button>
                            </section>
                        </form>
                    </section>
                </div>
            </div>
        </section>

        {# section about us #}
        <section id = "about-us">
            <div class = "container">
                <h3 class = "title">Sobre nós</h3>

                <section class = "about-top">
                    <div>
                        <p>{{ generalinformation.aboutus }}</p>

                        <div class = "expirence">
                            <span>{{ generalinformation.yearexpirence }}</span>
                            <p>anos de experiência</p>
                        </div>
                    </div>

                    <div class = "our">
                        <div>
                            <img src = "{% static 'img/mission.png' %}" alt = "imagem da nossa missão">
                            <span>Nossa Visão</span>
                            <p>{{ generalinformation.mission }}</p>
                        </div>

                        <div>
                            <img src = "{% static 'img/vision.png' %}" alt = "imagem da nossa visão">
                            <span>Nossa Missão</span>
                            <p>{{ generalinformation.vision }}</p>
                        </div>
                    </div>
                </section>

                <section class = "about-bottom">
                    <div>
                        <span>+{{ generalinformation.clients }}</span>
                        <span>Clientes</span>
                    </div>

                    <div>
                        <span>+{{ generalinformation.projects }}</span>
                        <span>Projectos</span>
                    </div>

                    <div>
                        <span>+{{ generalinformation.professional }}</span>
                        <span>Profissionais</span>
                    </div>
                </section>
            </div>
        </section>

        <section id = "banner-cookie">
            <div class="container">
                <div>
                    <p>
                        Este site utiliza cookies
                        para melhorar sua experiência
                        de navegação.
                    </p>

                    <button onclick = "acceptcookie()" class = "btn second">Aceitar</button>
                    <button onclick = "document.getElementById('banner-cookie').style.display = 'none'" class = "btn">Negar</button>
                </div>
            </div>
        </section>

        <a href = "https://wa.me/{{ generalinformation.whatsapp}}" target = "_blank">
            <div class = "whatsapp-button ">
                <img src = "{% static 'img/whatsapp.svg' %}" alt = "imagem do whatsapp">
            </div>
        </a>

        <div class = "learn-more-service">
            <div class = "popup-content">
                <button onclick = "close_context('.learn-more-service')" class = "close-btn">&times;</button>
                
                <h2 class = "popup-title"></h2>
                
                <img src = "" alt = "" class = "popup-image">
                
                <p class = "popup-text"></p>
                
                <a href = "#home">
                    <button class = "btn second">Agendar Serviço</button>
                </a>

                <a href = "https://wa.me/{{ generalinformation.whatsapp}}" target = "_blank">
                    <button class = "btn cta">Orçamento online</button>
                </a>
            </div>
        </div>

        <div class = "learn-more-jobopening">
            <div class = "popup-content">
                <button onclick = "close_context('.learn-more-jobopening')" class = "close-btn">&times;</button>

                <h2 class = "popup-title"></h2>
                
                <p class = "popup-text"></p>

                <p class = "salary"></p>

                <p class = "require">Requisitos</p>

                <ul></ul>
                
                <button class = "btn second">Candidata-se a esta vaga</button>
            </div>
        </div>

        <div class = "politic-privacit">
            <div class = "popup-content">
                <button onclick = "close_context('.politic-privacit')" class = "close-btn">&times;</button>

                <div>
                    <h2>Política de Privacidade</h2>

                    <p>
                        A sua privacidade é importante para nós.
                        Esta política descreve como coletamos,
                        usamos e protegemos suas informações
                        ao acessar nosso site
                    </p>

                    <section>
                        <h3>Coleta de Informações</h3>
    
                        <p>
                            Nós não coletamos informações
                            pessoais que não sejam necessárias
                            para o funcionamento do nosso serviço.
                            Quando você se registra em nosso site,
                            podemos coletar algumas informações
                            básicas, como seu nome, endereço de
                            e-mail e outras informações relevantes
                            para a criação de uma conta
                        </p>
                    </section>
    
                    <section>
                        <h3>Uso de Dados</h3>
    
                        <p>
                            Os dados que coletamos são utilizados
                            exclusivamente para melhorar a
                            sua experiência em nosso site e
                            para fornecer os serviços solicitados.
                            Nós não compartilhamos, vendemos ou
                            alugamos suas informações pessoais
                            a terceiros
                        </p>
                    </section>
    
                    <section>
                        <h3>Senhas e Segurança</h3>
    
                        <p>
                            As senhas dos usuários são armazenadas
                            de forma segura em nosso banco de dados
                            usando hashing, o que significa que não
                            guardamos suas senhas em texto claro.
                            Utilizamos algoritmos de hashing robustos
                            para garantir que suas senhas sejam
                            protegidas contra acesso não autorizado
                        </p>
                    </section>
    
                    <section>
                        <h3>Proteção de Dados</h3>
    
                        <p>
                            Adotamos medidas de segurança apropriadas
                            para proteger as suas informações contra
                            acesso, uso ou divulgação não autorizados.
                            Implementamos proteção contra
                            CSRF (Cross-Site Request Forgery) e
                            XSS (Cross-Site Scripting),
                            além de validação rigorosa de entrada,
                            para garantir que seus dados sejam
                            tratados de maneira segura e protegidos
                            contra vulnerabilidades comuns
                        </p>
                    </section>
    
                    <section>
                        <h3>Cookies</h3>
    
                        <p>
                            Nosso site pode usar cookies para melhorar
                            a experiência do usuário. Os cookies são
                            pequenos arquivos que são armazenados no
                            seu dispositivo e nos ajudam a entender
                            como você usa nosso site. Você pode
                            optar por não aceitar cookies, mas isso
                            pode afetar sua capacidade de utilizar
                            algumas funcionalidades do nosso site
                        </p>
                    </section>
    
                    <section>
                        <h3>Alterações na Política de Privacidade</h3>
    
                        <p>
                            Reservamo-nos o direito de atualizar esta
                            política de privacidade a qualquer momento.
                            Quaisquer alterações serão publicadas nesta
                            página. Recomendamos que você revise nossa
                            política periodicamente para se manter
                            informado sobre como estamos protegendo
                            suas informações
                        </p>
                    </section>
    
                    <section>
                        <h3>Contacto</h3>
    
                        <p>
                            Se você tiver alguma dúvida ou preocupação
                            sobre nossa política de privacidade,
                            entre em contato conosco através do
                            e-mail: {{ generalinformation.email }}
                        </p>
                    </section>
                </div>
            </div>
        </div>

        {% if msg %}
            <div class = "msg">
                <div class = "{{ status }}">
                    <div>
                        <button onclick = "close_context('.msg')"></button>
                    </div>
                    <p>
                        {{ msg }}
                    </p>
                </div>
            </div>
        {% endif %}
    </main>

    <footer>
        <div class = "container">
            <div>
                <section>
                    <h3>Sobre nós</h3>

                    <p class = "about">
                        Na agblimp, estamos
                        comprometidos em oferecer
                        serviços de limpeza de alta
                        qualidade para residências e
                        empresas. Com uma equipe
                        treinada e dedicada, nossa
                        missão é proporcionar um
                        ambiente limpo, seguro e
                        agradável para nossos clientes,
                        garantindo que cada espaço seja
                        tratado com cuidado e respeito
                    </p>
                </section>

                <section>
                    <h3>Horário comercial</h3>

                    <p>Seg - Sex</p>
                    <p class = "time">09h00 às 19h00</p>

                    <p>Sabado</p>
                    <p class = "time">09h00 às 17h00</p>
                </section>

                <section>
                    <h3>Inormações de contacto</h3>

                    <ul>
                        <li><img src = "{% static 'img/envelope.svg' %}" alt = "imagem de email">{{ generalinformation.email }}</li>
                        <li><img src = "{% static 'img/phone.svg' %}" alt = "imagem de telefone">{{ generalinformation.phone }}</li>
                    </ul>

                    <div class = "social">
                        <a href = "{{ generalinformation.facebook }}" target = "_blank">
                            <img src = "{% static 'img/facebook.svg' %}" alt = "imagem do facebook">
                        </a>

                        <a href = "{{ generalinformation.instagram }}" target = "_blank">
                            <img src = "{% static 'img/instagram.svg' %}" alt = "imagem do instagram">
                        </a>
                    </div>
                </section>
            </div>

            <div>
                <p>
                    <span>&copy; agblimp - 2024</span> / Todos direitos reservados / <span onclick = "document.querySelector('.politic-privacit').style.display = 'flex'">Política de Privacidade</span>
                </p>
            </div>
        </div>
    </footer>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src = "{% static 'js/app.js' %}"></script>
</body>
</html>