body > .desktop-banner, .mobile-banner {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}

body > .mobile-banner {
    background: var(--color-main);
    display: none;
}

body > .desktop-banner {
    background-size: cover;
    background-position: center;
    background-image: url('../../img/banner.jpg');
}

.curve {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.curve div {
    background: #eaeaea;
}

.se-world {
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: auto;
}

.se-world {
    animation: fly 3s ease-in-out infinite;
}

.se-world img {
    width: 40px;
}

body > main .banner {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 30;
}

body > main .banner > div {
    display: flex;
    align-items: start;
    gap: 40px;
}

body > main .banner > div > div:first-child p {
    margin-bottom: 30px;
    max-width: 600px;
}

body > main .banner > div > div:first-child p:first-child {
    font-weight: bolder;
    font-size: 2.2rem;
    color: var(--color-second);
}

body > main .banner > div > div:first-child p {
    color: var(--color-bg);
    font-weight: bold;
}

body > main .banner > div > div:first-child button {
    transition: .3s;
    padding: 20px;
}

body > main .banner > div > div:first-child button:hover {
    transform: scale(1.1);
}

body > main .banner > div .wrapper-form-scheduling {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    padding: 0 10px;
    display: none;
}

body > main .banner > div form {
    background: #fff;
    color: var(--color-bg);
    padding: 40px;
    max-width: 500px;
    transform: translateY(23px);
    position: relative;
}

body > main .banner > div form > section:first-child p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: var(--color-fg);
}

body > main .banner > div form .err {
    font-weight: lighter;
    color: orange;
}

body > main .banner > div form .input {
    background: #ccc;
}

body > main .banner > div form section button {
    border-radius: 1rem;
    transition: .3s;
}

@media screen and (max-width: 991px) {
    body > main .banner #intro {
        display: none;
    }

    body > main .banner > div form {
        margin: auto;
        max-width: 700px;
    }
}

@media screen and (max-width: 700px) {
    body > .mobile-banner {
        display: block;
    }

    body > .desktop-banner {
        display: none;
    }

    body > main .banner {
        text-align: center;
    }
}

@keyframes fly {
    0% {
        transform: translateY(0) translateX(-50%);
    }
    
    50% {
        transform: translateY(-7px) translateX(-50%);
    }

    100% {
        transform: translateY(0) translateX(-50%);
    }
}