body > main .banner {
    position: relative;
    min-height: 100vh;
    background-image: url('../../img/banner.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

body > main .banner > div {
    display: flex;
    align-items: start;
    gap: 40px;
}

body > main .banner > div form {
    background: transparent;
    backdrop-filter: blur(10px);
    color: var(--color-bg);
    border: 2px solid var(--color-bg);
    padding: 40px;
    max-width: 500px;
}

body > main .banner > div form > section:first-child p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

body > main .banner > div form .input {
    background: var(--color-bg);
}

body > main .banner > div form section button {
    border-radius: 1rem;
}

body > main .banner #intro p {
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-mono);
}

@media screen and (max-width: 991px) {
    body > main .banner #intro {
        display: none;
    }

    body > main .banner > div form {
        margin: auto;
        max-width: 700px;
    }
}