#testimonies {
    background: #ccc;
}

.swiper-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    height: 300px;
}

.swiper-slide {
    border-radius: 5px;
    padding: 15px;
    width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000; /* Cor dos botões */
  position: absolute; /* Faz com que eles se sobreponham ao conteúdo */
  top: 50%; /* Centraliza os botões verticalmente */
  transform: translateY(-50%); /* Ajusta o alinhamento */
  z-index: 20;
}

.swiper-button-next {
    right: 10px; /* Ajusta a posição do botão de próximo à direita */
  }
  
.swiper-button-prev {
    left: 10px; /* Ajusta a posição do botão anterior à esquerda */
}
  
.testimony {
    background: var(--color-main);
    max-width: 700px;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
    color: var(--color-bg);
    height: 100%;
}

.testimony header {
    background: var(--color-mono);
    padding: 20px;
}

#testimonies > div {
    padding: 20px;
}

#testimonies > div > div p {
    word-break: break-all;
    padding: 20px;
    overflow: auto;
}

#testimonies > div section {
    max-width: 700px;
    margin: auto;
    padding: 0 15px;
}

#testimonies > div section button {
    padding: 15px;
}